.search-result img {
  width: 60%;
  object-fit: cover;
  padding: 0 !important;
  margin-bottom: 16px;
  /* shadow */
  box-shadow: 0 0 64px 0 rgba(0, 0, 0, 075);
}

.search-result {
  /* display: flex; */
  padding: 32px !important;
  margin: auto !important;
  margin-top: 16px !important;
  height: 100%;
  /* gradient */
  background: rgb(0, 0, 0);
  background: linear-gradient(
    200deg,
    rgba(0, 0, 0, 1) 0%,
    rgb(0, 0, 0, 1) 50%,
    rgba(0, 0, 0, 0) 100%
  );
}

.text-center {
  color: rgb(210, 210, 210);
}


.color {
  width: 40px;
  height: 40px;
}